.bar { fill: steelblue; cursor:  pointer; }
.bar.active { fill:firebrick; }

div.frame {
    max-height: 200px;    
    overflow: scroll;
    background: whitesmoke;
    padding:0 0 0 0;
    border : solid silver 1px;
    max-width:500px;
    border-radius: 9px;

}

div.window {
    position:absolute;
    right : 5px;
    top:10px;
}

div.tooltip {
    max-width:400px;
    background: whitesmoke;
    border : solid silver 1px;
    border-radius: 9px;
    margin-top: 0.5em;
    margin-left:10%;
    opacity: 0;
    padding:0.5em;
}